mixin interest(data)
    .interest
        h3 #{data.title}
        b #{data.question}
        form.interest__form
            input(class="interest__form-input" type="text" placeholder="Enter your interest")
            input(class="interest__form-button" type="submit" value="Search partners")
